# This file contains a list of libraries used to build ChatAfrica 
aiodns==3.0.0
aiohttp==3.8.4
aiohttp-retry==2.8.3
aiosignal==1.3.1
aleph-alpha-client==2.16.0
async-timeout==4.0.2
attrs==22.2.0
blobfile==2.0.1
Brotli==1.0.9
cachetools==4.2.1
certifi==2020.12.5
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.0.1
click==8.1.3
colorama==0.4.6
dataclasses-json==0.5.7
docopt==0.6.2
filelock==3.9.0
Flask==2.2.3
Flask-Compress==1.13
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.3
frozenlist==1.3.3
google-auth==1.27.0
google-auth-oauthlib==0.4.2
gpt-index==0.3.6
greenlet==2.0.2
gunicorn==20.1.0
huggingface-hub==0.12.1
idna==2.10
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
langchain==0.0.94
lxml==4.9.2
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
multidict==6.0.4
mypy-extensions==1.0.0
mysqlclient==2.1.1
nltk==3.8.1
numpy==1.24.2
oauthlib==3.1.0
openai==0.26.5
packaging==23.0
pandas==1.5.3
pipreqs==0.4.11
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==4.3.0
pycparser==2.21
pycryptodomex==3.17
pydantic==1.10.5
pydeps==1.11.1
python-dateutil==2.8.2
python-dotenv==0.21.1
pytz==2022.7.1
PyYAML==6.0
regex==2022.10.31
requests==2.28.2
requests-oauthlib==1.3.0
rsa==4.7.1
six==1.15.0
SQLAlchemy==1.4.46
stdlib-list==0.8.0
tenacity==8.2.1
tiktoken==0.2.0
tokenizers==0.13.2
tqdm==4.64.1
transformers==4.26.1
typing-inspect==0.8.0
typing_extensions==4.5.0
urllib3==1.26.3
waitress==2.1.2
Werkzeug==2.2.3
yarg==0.1.9
yarl==1.8.2

pip~=21.3.1