{% extends "base.html" %}

    {% block title %}

        Chat {{ chat.data }}

    {% endblock %}

    {% block content %}

        <div class="container">

          <h2 style="text-align: center">{{chat.data}}</h2>
          <a href="{{ url_for('views.home') }}" class="btn btn-secondary" style="text-align: center">Back to my chats</a>

          <hr>

          <div class="row">
              <div class="col-md-6 offset-md-3">
                  <form method="POST">
                      <div class="form-group">
                          <label for="question"><h5>Ask ChatAfrica:</h5></label>
                          <input type="text" class="form-control" id="question" name="question" placeholder="Enter your question here...">
                      </div>
                      <button type="submit" class="btn btn-primary">Ask</button>
                  </form>
              </div>
          </div>
      
          {% if response %}
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card my-5">
                        <div class="card-body">
                            <h5 class="card-title">ChatAfrica Bot says:</h5>
                            <p class="card-text">{{ response }}</p>
                        </div>
                    </div>
                </div>
            </div>
          {% endif %}

          <div class="container my-5" id="history">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header bg-primary text-white">
                    Chat History
                  </div>
                  <div class="card-body">
                    {% for question in questions %}
                      {% if question.response %}
                        <br>
                        <h5 class="mb-4">{{ question.data }}</h5>
                        {% for res in question.response %}
                          <div class="row mb-3">
                            <div class="col-md-3">
                              <div class="card bg-light">
                                <div class="card-body">
                                    <img src="../static/images/hugging-face-emoji-clipart-lg.png" height="50" width="auto" alt="ChatAfrica Logo"/>
                                </div>
                              </div>
                          </div>
                            <div class="col-md-9">
                              <div class="card bg-light">
                                <div class="card-body">
                                  <p class="card-text">{{ res.data }}</p>
                                  <p class="card-text text-muted">{{ res.created_at }}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

    {% endblock %}