{% extends "base.html" %}

    {% block title %}

        Home

    {% endblock %}

    {% block content %}

        <h1 align="center">My Chats</h1>

        <ul class="list-group list-group-flush" id="chats">
            {% for chat in user.chats %}
                <li class="list-group-item">
                    <a class="btn btn-primary" href="{{ url_for('views.chat', chat_id=chat.id) }}">{{ chat.data }}</a>
                    <button type="button" class="close" onclick="">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </li>
            {% endfor %}
        </ul>

        <form action="" method="POST">
            <textarea name="chat" id="chat" cols="30" rows="10" class="form-control"></textarea>
            <br>
            <div align="center">
                <button type="submit" class="btn btn-secondary">
                    Create
                </button>
            </div>
        </form>

    {% endblock %}
